{% extends "base.html" %}
{% block content %}

    <!--MOST RECENT POST-->
    <section class="container-fluid evenSection" id="mostRecent">
        <div class="container text-center">
            <a href="{{ most_recent_post.href }}"><h1>{{ most_recent_post.title }}</h1></a>
            <h3>{{ most_recent_post.sub_title }}</h3>
            <div class="row" style="height:420">
                <div class="col-sm-12 text-center">
                    <a href="{{ most_recent_post.href }}"><img src="{{ most_recent_post.image_source }}"
                                                               class="img-responsive center-block" style="max-height:420px"></a>
                </div>
            </div>
            <footer class="evenSection top-buffer">
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="tylerfolkman"
                           data-text="{{ most_recent_post.sub_title }}" data-count="none">Tweet</a>
                    </div>
                    <div class="col-sm-2 text-right">
                        <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
                        <script type="in/share" data-url="learningwithdata.com"></script>
                    </div>
                </div>
            </footer>
        </div>
    </section>

    <!--PREVIOUS POSTS-->
    <section class="container-fluid oddSection" id="prevPosts">
        <div class="container">

            {% for post in previous_posts %}

            {% if loop.index is divisibleby 4 %}
            <div class="row">
            {% endif %}

            <div class="col-sm-3">
                <a href="{{ post.href }}"><h2>{{ post.title }}</h2></a>
                <p class="normalText">{{ post.sub_title }}</p>
                <a href="{{ post.href }}"><img src="{{ post.image_source }}" class="img-responsive center-block"></a>
            </div>

            {% if loop.index is divisibleby 4 %}
            </div>
            {% endif %}

            {% endfor %}

        </div>
    </section>

    <!--ABOUT SECTION-->
    <section class="container-fluid evenSection" id="about">
        <div class="container">
          <h1 class="text-left orangeText">Hello</h1>
          <h2>
          
          My name is Tyler Folkman and I am currently pursuing my masters in computer science at UT Austin with a focus on machine learning and data mining. I am currently a teaching assistant for <a href="http://www.ideal.ece.utexas.edu/">Dr. Ghosh's</a> Advanced Data Mining: Big Data Analytics for Healthcare class.<br><br>

          I hope to use data science to do some good in the world and plan on posting some tutorials as well as my data driven side projects.<br><br>

          If you like my blog, or have any comments / suggestions, please get in touch! I would love to chat. Use the RSS feed (top right of page) to get updates when there are new posts.<br><br>

          Have a good one!  

          </h2>
          <div class="row top-buffer">
              <!--fontawesome icons-->
              <div class="col-sm-2">
                  <a href="https://github.com/tfolkman"><i class="fa fa-github fa-4x orangeText"></i></a>
              </div>
              <div class="col-sm-2">
                  <a href="https://twitter.com/tyler_folkman"><i class="fa fa-twitter fa-4x orangeText"></i></a>
              </div>
              <div class="col-sm-2">
                  <a href="https://www.linkedin.com/in/tylerfolkman"><i class="fa fa-linkedin fa-4x orangeText"></i></a>
              </div>
              <div class="col-sm-2">
                  <a target="_blank" href="mailto:learningwithdata@gmail.com"><i class="fa fa-envelope fa-4x orangeText"></i></a>
              </div>
            </div>
        </div>
    </section>

{% endblock %}
