{% extends "base.html" %}
{% block content %}

    <!--MOST RECENT POST-->
    <section class="container-fluid evenSection" id="mostRecent">
        <div class="container text-center">
            <a href="{{ most_recent_post.href }}"><h1>{{ most_recent_post.title }}</h1></a>
            <h3>{{ most_recent_post.sub_title }}</h3>
            <div class="row" style="height:420">
                <div class="col-sm-12 text-center">
                    <a href="{{ most_recent_post.href }}"><img src="{{ most_recent_post.image_source }}"
                                                               class="img-responsive center-block" style="max-height:420px"></a>
                </div>
            </div>
            <footer class="evenSection top-buffer">
                <div class="row">
                    <div class="col-sm-2 text-right">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="tylerfolkman"
                           data-text="{{ most_recent_post.sub_title }}" data-count="none">Tweet</a>
                    </div>
                    <div class="col-sm-2 text-right">
                        <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
                        <script type="in/share" data-url="learningwithdata.com"></script>
                    </div>
                </div>
            </footer>
        </div>
    </section>
    <!--PREVIOUS POSTS-->
    <section class="container-fluid oddSection" id="prevPosts">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Getting_Started_With_Spark_DataFrame.ipynb"><h2>Spark DataFrames</h2></a>
                    <p class="normalText">How to get started with Spark using IPython and Spark DataFrames</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Getting_Started_With_Spark_DataFrame.ipynb"><img src="/static/images/spark-logo.png" alt="spark" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="/nfl_historical_rankings/"><h2>Historical NFL Rankings</h2></a>
                    <p class="normalText">Visualize your NFL Team's Historical Offensive and Defensive Rankings</p>
                    <a href="/nfl_historical_rankings/"><img src="/static/images/49ers_nfl_ranking_chart.png" alt="nflChart" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Logistic%20Gradient%20Descent.ipynb"><h2>Logistic Regression and Optimization</h2></a>
                    <p class="normalText">A tutorial on logisitic regression and how to learn the weights using optimization.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Logistic%20Gradient%20Descent.ipynb"><img src="/static/images/log_reg.png" alt="Logistic Regression" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/TalkPay.ipynb"><h2>Talkpay</h2></a>
                    <p class="normalText">A look at #talkpay and the distribution of incomes.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/TalkPay.ipynb"><img src="/static/images/talkpay.png" alt="talkpay" class="img-responsive center-block"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Continuous%20Prior.ipynb"><h2>Bayes With Continuous Prior</h2></a>
                    <p class="normalText">A tutorial on how to use Bayes Theorem with a continuous prior.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Continuous%20Prior.ipynb"><img src="/static/images/bayes_cont.png" alt="continous bayes image" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Bayes_Primer.ipynb"><h2>Introduction to Bayes Theorem</h2></a>
                    <p class="normalText">A brief introducton to Bayes Theorem and how to use it in Python.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Bayes_Primer.ipynb"><img src="/static/images/bayes_intro.png" alt="bayes image" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://tfolkman.github.io/state_map/index.html"><h2>My First D3 Map</h2></a>
                    <p class="normalText">I have always wanted to create a D3 map, so here is my first attempt.</p>
                    <a href="http://tfolkman.github.io/state_map/index.html"><img src="/static/images/d3_map.png" alt="d3 map" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/mimic_data/blob/master/Getting_Started_with_MIMIC_Demo.ipynb"><h2>MIMIC Data</h2></a>
                    <p class="normalText">Learn how to start analyzing a very rich healthcare dataset of Intensive Care Unit patients.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/mimic_data/blob/master/Getting_Started_with_MIMIC_Demo.ipynb"><img src="/static/images/mimic_demo.png" alt="mimic" class="img-responsive center-block"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb"><h2>Python For Data Mining</h2></a>
                    <p class="normalText">Tutorial on how to use Python for data mining.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb"><img src="/static/images/python_dm.png" alt="Python for Data Mining" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Top_Offensive_Tackles.ipynb"><h2>High School Offensive Tackles</h2></a>
                    <p class="normalText">I take a look at my brother's chances of playing college football.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Top_Offensive_Tackles.ipynb"><img src="/static/images/ot.png" alt="offensive tackles" class="img-responsive center-block"></a>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT SECTION-->
    <section class="container-fluid evenSection" id="about">
        <div class="container">
          <h1 class="text-left orangeText">Hello</h1>
          <h2>
          
          My name is Tyler Folkman and I am currently pursuing my masters in computer science at UT Austin with a focus on machine learning and data mining. I am currently a teaching assistant for <a href="http://www.ideal.ece.utexas.edu/">Dr. Ghosh's</a> Advanced Data Mining: Big Data Analytics for Healthcare class.<br><br>

          I hope to use data science to do some good in the world and plan on posting some tutorials as well as my data driven side projects.<br><br>

          If you like my blog, or have any comments / suggestions, please get in touch! I would love to chat. Use the RSS feed (top right of page) to get updates when there are new posts.<br><br>

          Have a good one!  

          </h2>
          <div class="row top-buffer">
              <!--fontawesome icons-->
              <div class="col-sm-2">
                  <a href="https://github.com/tfolkman"><i class="fa fa-github fa-4x orangeText"></i></a>
              </div>
              <div class="col-sm-2">
                  <a href="https://twitter.com/tyler_folkman"><i class="fa fa-twitter fa-4x orangeText"></i></a>
              </div>
              <div class="col-sm-2">
                  <a href="https://www.linkedin.com/in/tylerfolkman"><i class="fa fa-linkedin fa-4x orangeText"></i></a>
              </div>
              <div class="col-sm-2">
                  <a target="_blank" href="mailto:learningwithdata@gmail.com"><i class="fa fa-envelope fa-4x orangeText"></i></a>
              </div>
            </div>
        </div>
    </section>

{% endblock %}
