{% extends "base.html" %}
{% block content %}

    <!--GETTING STARTED-->
    <section class="container-fluid evenSection" id="gettingStarted">
        <div class="container">

            {% for post in getting_started %}

                {% if loop.index is divisibleby 4 %}
                    <div class="row">
                {% endif %}
                {% if loop.index == 1 %}
                    <h1 class="text-left">Getting Started</h1>
                {% endif %}

                <div class="col-sm-3">
                    <a href="{{ post.href }}"><h2>{{ post.title }}</h2></a>
                    <p>{{ post.sub_title }}</p>
                    <a href="{{ post.href }}"><img src="{{ post.image_source }}" class="img-responsive center-block"></a>
                </div>

                {% if loop.index is divisibleby 4 %}
                    </div>
                {% endif %}

            {% endfor %}

        </div>
    </section>

    <!--ONLINE RESOURCES-->
    <section class="container-fluid oddSection" id="online">
        <div class="container">

            {% for post in online_resources %}

                {% if loop.index is divisibleby 4 %}
                    <div class="row">
                {% endif %}
                {% if loop.index == 1 %}
                    <h1 class="text-left grayText">Online Courses</h1>
                {% endif %}

                <div class="col-sm-3">
                    <a href="{{ post.href }}"><h2>{{ post.title }}</h2></a>
                    <p class="normalText">{{ post.sub_title }}</p>
                    <a href="{{ post.href }}"><img src="{{ post.image_source }}" class="img-responsive center-block"></a>
                </div>

                {% if loop.index is divisibleby 4 %}
                    </div>
                {% endif %}

            {% endfor %}

        </div>
    </section>

    <!--WEBSITES-->
    <section class="container-fluid evenSection" id="sites">
        <div class="container">

            {% for post in site_resources %}

                {% if loop.index is divisibleby 4 %}
                    <div class="row">
                {% endif %}
                {% if loop.index == 1 %}
                    <h1 class="text-left">Sites</h1>
                {% endif %}

                <div class="col-sm-3">
                    <a href="{{ post.href }}"><h2>{{ post.title }}</h2></a>
                    <p>{{ post.sub_title }}</p>
                    <a href="{{ post.href }}"><img src="{{ post.image_source }}" class="img-responsive center-block"></a>
                </div>

                {% if loop.index is divisibleby 4 %}
                    </div>
                {% endif %}

            {% endfor %}

        </div>
    </section>

    <!--PODCASTS-->
    <section class="container-fluid oddSection" id="podcasts">
        <div class="container">

            {% for post in podcast_resources %}

                {% if loop.index is divisibleby 4 %}
                    <div class="row">
                {% endif %}
                {% if loop.index == 1 %}
                    <h1 class="text-left grayText">Podcasts</h1>
                {% endif %}

                <div class="col-sm-3">
                    <a href="{{ post.href }}"><h2>{{ post.title }}</h2></a>
                    <p class="normalText">{{ post.sub_title }}</p>
                    <a href="{{ post.href }}"><img src="{{ post.image_source }}" class="img-responsive center-block"></a>
                </div>

                {% if loop.index is divisibleby 4 %}
                    </div>
                {% endif %}

            {% endfor %}

        </div>
    </section>

    <!--BOOKS-->
    <section class="container-fluid evenSection" id="books">
        <div class="container">

            {% for post in book_resources %}

                {% if loop.index is divisibleby 4 %}
                    <div class="row">
                {% endif %}
                {% if loop.index == 1 %}
                    <h1 class="text-left">Books</h1>
                {% endif %}

                <div class="col-sm-3">
                    <a href="{{ post.href }}"><h2>{{ post.title }}</h2></a>
                    <p>{{ post.sub_title }}</p>
                    <a href="{{ post.href }}"><img src="{{ post.image_source }}" class="img-responsive center-block"></a>
                </div>

                {% if loop.index is divisibleby 4 %}
                    </div>
                {% endif %}

            {% endfor %}

        </div>
    </section>

    <!--LIBRARIES-->
    <section class="container-fluid oddSection" id="libs">
        <div class="container">

            {% for post in library_resources %}

                {% if loop.index is divisibleby 4 %}
                    <div class="row">
                {% endif %}
                {% if loop.index == 1 %}
                    <h1 class="text-left grayText">Python Libraries</h1>
                {% endif %}

                <div class="col-sm-3">
                    <a href="{{ post.href }}"><h2>{{ post.title }}</h2></a>
                    <p class="normalText">{{ post.sub_title }}</p>
                    <a href="{{ post.href }}"><img src="{{ post.image_source }}" class="img-responsive center-block"></a>
                </div>

                {% if loop.index is divisibleby 4 %}
                    </div>
                {% endif %}

            {% endfor %}

        </div>
    </section>

{% endblock %}