h3 {
  color: #c0c0c0;
}

.evenSection {
  background-color: #2b3e50;
}

.oddSection{
  background-color: #ffffff;
}

.normalText{
  color:#444444;
}

.orangeText {
  color:#df691a;
}

.top-buffer { margin-top:40px; }