h3 {
  color: #c0c0c0;
}

.evenSection {
  background-color: #2b3e50;
}

.oddSection{
  background-color: #ffffff;
}

.normalText{
  color:#444444;
}

.orangeText {
  color:#df691a;
}

.top-buffer { margin-top:40px; }

.grayText{
  color: #c0c0c0;
}

.chart-size {
	min-width: 310px; 
	height: 400px; 
	margin-right: auto;
}

.nav-buffer {
	margin-top: 100px;
}

.ui-widget-header{
  width: 100%;
}