<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Learning With Data</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Learning With Data</a>
        </div>

         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/resources/">Data Science Resources</a></li>
              <li><a href="/about/">About</a></li>
              </ul>
              </div>

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Hello</h1>
        <p>
          
          My name is Tyler Folkman and I am currently pursuing my masters in computer science at UT Austin with a focus on machine learning and data mining. I am doing research at the intersection of healthcare and data mining as a member of the <a href="http://www.ideal.ece.utexas.edu/">IDEAL lab</a> and am interning at Amazon this summer in the ad products group.

          If you like my blog, or have any suggestions/comments/anything..., I would love to hear from you! Email me at learningwithdata-at-gmail-dot-com.

          Have a good one!  

        </p>
      </div>
    </div>


      <footer>
          <div class="container-fluid">
         <div class="row">
            <div class="col-md-2">
              <a href="https://github.com/tfolkman"><img src="/static/images/GitHub-Mark-120px-plus.png" alt="GitHub" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://twitter.com/tyler_folkman"><img src="/static/images/Twitter_logo_blue.png" alt="Twitter" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://www.linkedin.com/in/tylerfolkman"><img src="/static/images/LinkedIn_logo_initials.png" alt="LinkedIn" style="width:64px;height:64px"></a>
            </div>
          </div>
          </div>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
