<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning With Data</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/app.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/jquery.fullPage.css" />


  </head>

  <body>

  <!-- NAVIGATION BAR -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Learning With Data</a>
        </div>

         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/resources/">Data Science Resources</a></li>
              <li><a href="/about/">About</a></li>
              </ul>
              </div>

      </div>
    </nav>

    <!-- FULLPAGE ENABLED -->

    <div id="fullpage">

    <!-- FIRST PAGE - MAIN POST -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="box-links" class="jumbotron fill section active">
      <div class="container-fluid fill">
      <div class ="row-fluid">
        <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Logistic%20Gradient%20Descent.ipynb"><h2>Logistic Regression and Optimization</h2></a>
        <p>A tutorial on logistic regression and how to use optimization to learn your parameters.</p>
        <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Logistic%20Gradient%20Descent.ipynb"><img src="/static/images/log_reg.png" alt="Logistic Regression" style="width:450px;height:350px"></a>
      </div>

      <hr>

      <!-- DOWN ARROW -->

      <div class = "row">

      <p><a href="javascript:void(0);" onclick="$.fn.fullpage.moveSectionDown();"><img src="/static/images/arrow_down.png" alt="down arrow" style="width:100px; height:100px; opacity:0.7"></a>Previous Posts</p>

      </div>

      <!-- FOOTER FOR MAIN POST -->

        <div class='fakeHr'></div>

         <div class="row-fluid footerstyle">
            <div class="col-md-2">
              <a href="https://github.com/tfolkman"><img src="/static/images/GitHub-Mark-120px-plus.png" alt="GitHub" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://twitter.com/tyler_folkman"><img src="/static/images/Twitter_logo_blue.png" alt="Twitter" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://www.linkedin.com/in/tylerfolkman"><img src="/static/images/LinkedIn_logo_initials.png" alt="LinkedIn" style="width:64px;height:64px"></a>
            </div>
          </div>

          </div>

      </div>

      <!-- START PREVIOUS POSTS -->

    <div class = "section">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
    	style="background:white">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

    <div class="main-text hidden-xs">
        <div class="col-md-12 text-left">
            <h1 style="margin-top:50px">Previous Posts</h1>
         </div>
    </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="height:700px">
    <div class="item active">

    <!-- A PREVIOUS POST -->

      <div class="row-fluid">

        <div class="col-md-4">
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/TalkPay.ipynb"><h2>Talkpay</h2></a>
          <p>A look at #talkpay and the distribution of incomes.</p>
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/TalkPay.ipynb"><img src="/static/images/talkpay.png" alt="talkpay" style="width:500px;height:350px"></a>
        </div>

    <!-- A PREVIOUS POST -->

        <div class="col-md-4">
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Continuous%20Prior.ipynb"><h2>Bayes With Continuous Prior</h2></a>
          <p>A tutorial on how to use Bayes Theorem with a continuous prior.</p>
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Continuous%20Prior.ipynb"><img src="/static/images/bayes_cont.png" alt="continous bayes image" style="width:450px;height:325px"></a>
        </div>

    <!-- A PREVIOUS POST -->

        <div class="col-md-4">
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Bayes_Primer.ipynb"><h2>Introduction to Bayes Theorem</h2></a>
          <p>A brief introducton to Bayes Theorem and how to use it in Python.</p>
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Bayes_Primer.ipynb"><img src="/static/images/bayes_intro.png" alt="bayes image" style="width:400px;height:300px"></a>
        </div>
        </div>


    </div>
    <div class="item">


    <!-- NEXT ROW OF POSTS -->

    <!-- A PREVIOUS POST -->

    <div class="row-fluid">

        <div class="col-md-4">
          <a href="http://tfolkman.github.io/state_map/index.html"><h2>My First D3 Map</h2></a>
          <p>I have always wanted to create a D3 map, so here is my first attempt.</p>
          <a href="http://tfolkman.github.io/state_map/index.html"><img src="/static/images/d3_map.png" alt="d3 map" style="width:400px;height:300px"></a>
        </div>

    </div>

    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background-image:none">
    <span class="glyphicon glyphicon-chevron-left" style="color:black" ></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-image:none">
    <span class="glyphicon glyphicon-chevron-right" style="color:black"></span>
  </a>


</div> <!-- Carousel -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>

    <script type="text/javascript">


        $(document).ready(function() {
          $('#fullpage').fullpage({

            anchors:['mainPost', 'previousPosts'],

          });
        });

    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
