<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Learning With Data</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Learning With Data</a>
        </div>

         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/resources/">Data Science Resources</a></li>
              <li><a href="/about/">About</a></li>
              </ul>
              </div>

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Logistic%20Gradient%20Descent.ipynb"><h2>Logistic Regression and Optimization</h2></a>
        <p>A tutorial on logistic regression and how to use optimization to learn your parameters.</p>
        <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Logistic%20Gradient%20Descent.ipynb"><img src="/static/images/log_reg.png" alt="Logistic Regression" style="width:450px;height:350px"></a>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
    <h2>Previous Posts</h2>

        <div class="col-md-4">
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/TalkPay.ipynb"><h2>Talkpay</h2></a>
          <p>A look at #talkpay and the distribution of incomes.</p>
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/TalkPay.ipynb"><img src="/static/images/talkpay.png" alt="talkpay" style="width:400px;height:250px"></a>
        </div>

      </div>

      <hr>

      <footer>
          <div class="container">
         <div class="row">
            <div class="col-md-2">
              <a href="https://github.com/tfolkman"><img src="/static/images/GitHub-Mark-120px-plus.png" alt="GitHub" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://twitter.com/tyler_folkman"><img src="/static/images/Twitter_logo_blue.png" alt="Twitter" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://www.linkedin.com/in/tylerfolkman"><img src="/static/images/LinkedIn_logo_initials.png" alt="LinkedIn" style="width:64px;height:64px"></a>
            </div>
          </div>
          </div>
      </footer>
      <p></p>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
