<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Learning With Data</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Learning With Data</a>
        </div>

         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/resources/">Data Science Resources</a></li>
              <li><a href="/about/">About</a></li>
              </ul>
              </div>

      </div>
    </nav>


    <div class="jumbotron">
    <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row-fluid">
        <h2>Getting Started</h2>
        <div class="col-md-4">
          <a href="http://continuum.io/downloads"><h2>Anaconda Distribution</h2></a>
          <p>Get Python and the Anaconda distribution which includes almost all of the libraries you will need to get started. </p>
              <a href="http://continuum.io/downloads"><img src="/static/images/continuum_analytics_logo.png" alt="Anaconda" style="width:187px;height:103px"></a>
        </div>

        <div class="col-md-4">
          <a href="http://ipython.org/"><h2>IPython</h2></a>
          <p>Learn about IPython and IPython Notebooks.</p>
              <a href="http://ipython.org/"><img src="/static/images/IPy_header.png" alt="IPython" style="width:350px;height:103px"></a>
        </div>

        <div class="col-md-4">
          <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb"><h2>Python For Data Mining</h2></a>
          <p>Read my introduction post on how to use Python for data mining.</p>
              <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb"><img src="/static/images/python_dm.png" alt="Python for Data Mining" style="width:300px;height:150px"></a>
        </div>

      </div>
      </div>
      </div>

      <footer>
          <div class="container-fluid">
         <div class="row-fluid">
            <div class="col-md-2">
              <a href="https://github.com/tfolkman"><img src="/static/images/GitHub-Mark-120px-plus.png" alt="GitHub" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://twitter.com/tyler_folkman"><img src="/static/images/Twitter_logo_blue.png" alt="Twitter" style="width:64px;height:64px"></a>
            </div>
            <div class="col-md-2">
              <a href="https://www.linkedin.com/in/tylerfolkman"><img src="/static/images/LinkedIn_logo_initials.png" alt="LinkedIn" style="width:64px;height:64px"></a>
            </div>
          </div>
          </div>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
