{% extends "base.html" %}

    {% block css %}

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

    {% endblock %}

    {% block content %}

        <!--CHART-->
        <div id="content"></div>


    </div>

    {% endblock %}

    <!-- script references -->
    {% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/exporting.js"></script>
    <script src="/static/js/require.min.js"></script>

    <script type="text/babel">

        require(['../../static/js/node_modules/react', 'react-select'], function (React, Select) {
            var SelectA = React.createClass({
                render: function(){
                    var options = [
                        { value: 'one', label: 'One' },
                        { value: 'two', label: 'Two' }
                    ];
                    return <Select
                        name="form-field-name"
                        value="one"
                        options={options}/>
                }
            });

            var App = React.createClass({displayName: 'App',

                // loadCommentsFromServer: function() {
                //     $.ajax({
                //         type: 'POST',
                //         url: this.props.url,
                //         data: {'team': 'San Francisco 49ers'}
                //         dataType: 'json',
                //         cache: false,
                //         success: function(data) {
                //             this.setState({data: data});
                //         }.bind(this),
                //         error: function(xhr, status, err) {
                //             console.error(this.props.url, status, err.toString());
                //         }.bind(this)
                // });

                render: function() {
                    return (
                        <div className="nfl">
                            <div className="row">
                                <div className="col-sm-12">
                                    <SelectA/>
                                </div>
                            </div>
                            <div className="row top-buffer">
                                <div className="col-sm-12">
                                    <Graph />
                                </div>
                            </div>
                            <Notes />
                        </div>
                    );
                }
            });

            var Notes = React.createClass({displayName: 'Notes',
                render: function() {
                    return (
                        <div className="row">
                            <div className="col-sm-12">
                                <h2 className="orangeText">Notes</h2>
                                <p className="blackText">Lower ranking is better (1 is best).</p>
                                <p className="blackText">Ranking based on average yards per game.</p>
                                <p className="blackText">Data from 1970 to 2014 for regular season games.</p>
                            </div>
                        </div>
                    );
                }
            });

            var Graph = React.createClass({


                componentDidMount: function() {
                    var el = this.refs.chartNode;
                    $(el).highcharts({
                        title: {
                            text: '{{ name }}',
                            x: -20 //center
                        },
                        xAxis: {
                            categories: {{ o_data_years }}
                        },
                        yAxis: {
                            title: {
                                text: 'Ranking'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }],
                            min: 0
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'center',
                            verticalAlign: 'bottom',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'Offensive Ranking',
                            color: '#0571b0',
                            data: {{ o_data_rk }}
                        }, {
                            name: 'Defensive Ranking',
                            color: '#ca0020',
                            data: {{ d_data_rk }}
                        }],
                        credits: {
                            enabled: false
                        }
                    });
                },

                render: function() {
                    return (
                        React.DOM.div({className: "chart-size", ref: "chartNode"})
                    );
                }
            })

            ReactDOM.render(
                React.createElement(App, null),
                document.getElementById('content')
            );
        });
    </script>

    {% endblock %}
