{% extends "base.html" %}

    {% block css %}

   <link href="/static/js/node_modules/react-select/dist/default.css" rel="stylesheet" />

    {% endblock %}

    {% block content %}

    <div class="container">

        <!--CHART-->
        <div id="content"></div>

    </div>

    {% endblock %}

    <!-- script references -->
    {% block js %}

    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/exporting.js"></script>
    <script src="/static/js/nfl/nfl_bundle.js">

    </script>

    {% endblock %}
