{% extends "base.html" %}
{% block content %}

    <!--GETTING STARTED-->
    <section class="container-fluid evenSection" id="gettingStarted">
        <div class="container">
            <div class="row">
                <h1 class="text-left">Getting Started</h1>
                <div class="col-sm-3">
                    <a href="http://continuum.io/downloads"><h2>Anaconda Distribution</h2></a>
                    <p>Get Python and the Anaconda distribution which includes almost all of the libraries you will need to get started. </p>
                    <a href="http://continuum.io/downloads"><img src="/static/images/continuum_analytics_logo.png" alt="Anaconda" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://ipython.org/"><h2>IPython</h2></a>
                    <p>Learn about IPython and IPython Notebooks.</p>
                    <a href="http://ipython.org/"><img src="/static/images/IPy_header.png" alt="IPython" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb"><h2>Python For Data Mining</h2></a>
                    <p>Read my introduction post on how to use Python for data mining.</p>
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb"><img src="/static/images/python_dm.png" alt="Python for Data Mining" class="img-responsive center-block"></a>
                </div>
            </div>
        </div>
    </section>
    <!--ONLINE RESOURCES-->
    <section class="container-fluid oddSection" id="online">
        <div class="container">
            <div class="row">
                <h1 class="text-left grayText">Online Courses</h1>
                <div class="col-sm-3">
                    <a href="https://www.coursera.org/course/ml"><h2>Coursera Machine Learning</h2></a>
                    <p class="normalText">This excellent course is probably the most popular. Taught by Andrew Ng who is now the Chief Scientist at Baidu; great coverage of topics. I would definitely recommend starting here for for online courses.</p>
                    <a href="https://www.coursera.org/course/ml"><img src="/static/images/coursera_ml.png" alt="coursera-ml" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://cs109.github.io/2014/"><h2>Harvard Data Science</h2></a>
                    <p class="normalText">I love this course because it uses Python. Also has a good coverage of topics and a great github repo of code. Great place to learn data science using Python.</p>
                    <a href="http://cs109.github.io/2014/"><img src="/static/images/harvard_ds.jpg" alt="harvard ds" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://blogs.ischool.berkeley.edu/i290-abdt-s12/"><h2>Analyzing Big Data With Twitter</h2></a>
                    <p class="normalText">This course comes from the information school at UC Berkeley. I have not finished this course, but the content looks great and it comes highly recommended. Great way to get started with Twitter data.</p>
                    <a href="http://blogs.ischool.berkeley.edu/i290-abdt-s12/"><img src="/static/images/ischool_berkeley.jpg" alt="big data twitter" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="https://www.mysliderule.com/learning-paths/data-analysis"><h2>Data Analysis</h2></a>
                    <p class="normalText">At 310+ hours, this course has a ton of material and is organized very well, so you can easily dig into areas that interest you. It even has optional tracks such as visualizing data and analyzing social networks.</p>
                    <a href="https://www.mysliderule.com/learning-paths/data-analysis"><img src="/static/images/sliderule.png" alt="dataanalysis" class="img-responsive center-block"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://datasciencemasters.org/"><h2>The Open Source Data Science Masters</h2></a>
                    <p class="normalText">This is an awesome site that basically lays out many of the areas of data science and provides links to books, courses, and tutorials to help learn those subjects. And it is open source so you can contribute!</p>
                </div>
            </div>
        </div>
    </section>
    <!--WEBSITES-->
    <section class="container-fluid evenSection" id="sites">
        <div class="container">
            <div class="row">
                <h1 class="left text">Sites</h1>
                <div class="col-sm-3">
                    <a href="http://blog.yhathq.com/"><h2>Yhat Blog</h2></a>
                    <p>The Yhat blog always seems to have awesome articles on data science. Great place to learn and see some cool projects.</p>
                    <a href="http://blog.yhathq.com/"><img src="/static/images/yhat.png" alt="yhat" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://www.datatau.com/"><h2>DataTau</h2></a>
                    <p>DataTau is like the Hacker News of data science. The site isn't nearly as active as Hacker News, but often has some nice posts. Would be cool to help it to continue to grow.</p>
                </div>
                <div class="col-sm-3">
                    <a href="http://bost.ocks.org/mike/"><h2>Mike Bostock</h2></a>
                    <p>One of the developers of D3.js - this guy is the king of interactive visualization. Check out his stuff and be amazed. He also posts amazing tutorials.</p>
                    <a href="http://bost.ocks.org/mike/"><img src="/static/images/mike_b.png" alt="bostock" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://twiecki.github.io/"><h2>While My MCMC Gently Samples</h2></a>
                    <p>Thomas Wiecki is very skilled at writing tutorials. Focuses mostly on Python and Bayesian methods; best place to learn how to use Python for Bayesian statistics.</p>
                    <a href="http://twiecki.github.io/"><img src="/static/images/mcmc.png" alt="mcmc" class="img-responsive center-block"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://sebastianraschka.com/"><h2>Sebastian Raschka</h2></a>
                    <p>Sebastian has a great blog with really well explained data science posts with lots of Python code. He is also a great person to follow on Twitter.</p>
                    <a href="http://sebastianraschka.com/"><img src="/static/images/perceptron_neuron.png" alt="neuron" class="img-responsive center-block"></a>
                </div>
            </div>
        </div>
    </section>
    <!--PODCASTS-->
    <section class="container-fluid oddSection" id="podcasts">
        <div class="container">
            <div class="row">
                <h1 class="left-text grayText">Podcasts</h1>
                <div class="col-sm-3">
                    <a href="http://www.partiallyderivative.com/"><h2>Partially Derivative</h2></a>
                    <p class="normalText">Great podcast that covers data science news of the week in a very entertaining fashion. Great way to keep up with data related stories.</p>
                    <a href="http://www.partiallyderivative.com/"><img src="/static/images/partiallyd.png" alt="partiallyd" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://www.thetalkingmachines.com/"><h2>Talking Machines</h2></a>
                    <p class="normalText">A podcast focused more on machine learning research. Some great interviews with leading researchers.</p>
                    <a href="http://www.thetalkingmachines.com/"><img src="/static/images/talkingmachines.png" alt="talkingmachines" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://radar.oreilly.com/tag/oreilly-data-show-podcast"><h2>O'Reilly Data Show</h2></a>
                    <p class="normalText">Tends to focus on interviews with people from industry. Provides some great insights into how data science is being used in industry.</p>
                    <a href="http://radar.oreilly.com/tag/oreilly-data-show-podcast"><img src="/static/images/datashow.png" alt="datashow" class="img-responsive center-block"></a>
                </div>
            </div>
        </div>
    </section>
    <!--BOOKS-->
    <section class="container-fluid evenSection" id="books">
        <div class="container">
            <div class="row">
                <h1 class="left-text">Books</h1>
                <div class="col-sm-3">
                    <a href="http://www-bcf.usc.edu/~gareth/ISL/"><h2>An Introduction to Statistical Learning</h2></a>
                    <p>If I were to pick a book to start with, this would be it. Great explanations of most of the important topics with R code. For a more advanced version, check out The Elements of Statistical Learning.</p>
                    <a href="http://www-bcf.usc.edu/~gareth/ISL/"><img src="/static/images/isl.jpg" alt="isl" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://appliedpredictivemodeling.com/"><h2>Applied Predictive Modeling</h2></a>
                    <p>As stated, this is a very applied book with R code. Similar to Introduction to Statistical Learning, but hits more on certain topics such as data pre-processing.</p>
                    <a href="http://appliedpredictivemodeling.com/"><img src="/static/images/apm.png" alt="apm" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://www.indiana.edu/~kruschke/DoingBayesianDataAnalysis/"><h2>Doing Bayesian Data Analysis</h2></a>
                    <p>By far the best book I have read on how to do Bayesian Data Analysis that doesn't assume much prior knowledge. Tons of R code and hits on lots of great topics.</p>
                    <a href="http://www.indiana.edu/~kruschke/DoingBayesianDataAnalysis/"><img src="/static/images/dbda.png" alt="dbda" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://camdavidsonpilon.github.io/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/"><h2>Bayesian Methods for Hackers</h2></a>
                    <p>This is the best book I have seen on Bayesian methods using Python. I would recommend learning about Bayesian statistics from Doing Bayesian Data Analysis and then using this book to help learn how to do things in Python.</p>
                    <a href="http://camdavidsonpilon.github.io/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/"><img src="/static/images/bmfh.png" alt="bmfh" class="img-responsive center-block"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://shop.oreilly.com/product/0636920023784.do"><h2>Python for Data Analysis</h2></a>
                    <p>From the creator of Pandas, this is the best book to learn the Python language from a data science perspective. A lot of this information is in the online docs, but still a great resource with data analysis examples.</p>
                    <a href='http://shop.oreilly.com/product/0636920023784.do'><img src="/static/images/pfda.gif" alt="pfda" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html"><h2>Interactive Data Visualization for the Web</h2></a>
                    <p>By far the best resource I have found to learn how to use D3.js to make sweet visualizations. It assumes little prior knowledge about java script and CSS. Definitely check it out if you enjoy creating visualizations.</p>
                    <a href="http://chimera.labs.oreilly.com/books/1230000000345/index.html"><img src="/static/images/idv.gif" alt="idv" class="img-responsive center-block"></a>
                </div>
            </div>
        </div>
    </section>
    <!--LIBRARIES-->
    <section class="container-fluid oddSection" id="libs">
        <div class="container">
            <div class="row">
                <h1 class="left-text grayText">Python Libraries</h1>
                <div class="col-sm-3">
                    <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb"><h2 class="orangeText">Core Libraries</h2></a>
                    <p class="normalText">In my experience, the core data science libraries for Python are pandas, scipy, numpy, matplotlib, scikit-learn, and statsmodels. To learn more about these libraries check out my <a href="http://nbviewer.ipython.org/github/tfolkman/learningwithdata/blob/master/Python_For_Data_Mining.ipynb">Introduction to Python for Data Mining</a> post.</p>
                    <a href="http://scikit-learn.org/stable/"><img src="/static/images/scikit-learn-logo-small.png" alt="sklearn" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://stanford.edu/~mwaskom/software/seaborn/index.html"><h2 class="orangeText">Seaborn</h2></a>
                    <p class="normalText">Seaborn is a great visualization library that helps you easily make nicer looking matplotlib graphs as well as provides some additional plots, such as violin plots.</p>
                    <a href="http://stanford.edu/~mwaskom/software/seaborn/index.html"><img src="/static/images/seaborn.png" alt="seaborn" class="img-responsive center-block"></a>
                </div>
                <div class="col-sm-3">
                    <a href="http://pymc-devs.github.io/pymc3/"><h2 class="orangeText">PyMC 3</h2></a>
                    <p class="normalText">PyMC 3 is one of the coolest libraries. It makes doing bayesian statistics super easy and provides a bunch of great functionaliy. Definitely check it out.</p>
                    <a href="http://pymc-devs.github.io/pymc3/"><img src="/static/images/pymc.png" alt="pymc" class="img-responsive center-block"></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}